:root {
	--primary-color: #2e8acb;
	--secondary-color: #002f59;
	--tertiary-color: #0dc1f2;
	/* --bg-body: #eaf0f9; */
	/* --titles: "Amaranth", serif;
	--font: "Saira Condensed", serif; */
}

@import "tailwindcss";
@import "dialca-ui/styles";
@plugin "daisyui";

@theme {
	--color-primary: var(--primary-color);
	--color-secondary: var(--secondary-color);
	--color-tertiary: var(--tertiary-color);
}

.transitioned {
	@apply transition-all duration-300 ease-in-out;
}

.btn {
	@apply transition-all duration-300 ease-in-out cursor-pointer;
}