:root {
	--primary-color: #2e8acb;
	--secondary-color: #002f59;
	--tertiary-color: #0dc1f2;
	/* --bg-body: #eaf0f9; */
	--titles: "Prompt", serif;
	/*--font: "Saira Condensed", serif; */
}

@import "tailwindcss";
@import "dialca-ui/styles";

@theme {
	--color-muni-primary: var(--primary-color);
	--color-muni-secondary: var(--secondary-color);
	--color-muni-tertiary: var(--tertiary-color);
	--font-titles: var(--titles);
}

.transitioned {
	@apply transition-all duration-300 ease-in-out;
}

.btn {
	@apply transition-all duration-300 ease-in-out cursor-pointer;
}